@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-prompt;
  }
}

* {
  @apply font-prompt;
  font-family: inherit;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ec0808;
  --secondary: #fff;
  --gray: #999999;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ec0808;
    --secondary: #fff;
    --gray: #999999;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-prompt;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
